<%- include('header.ejs') -%>
<h1 class="text-center">Welcome</h1>
<p class="text-center">Please <a class="text-decoration-none" href="/register">Register</a>/<a class="text-decoration-none" href="/login">Login</a> in to see your list</p>
<%- include('footer.ejs') -%>
