<%- include('header.ejs') -%>
<% if(message != '') { %>
  <div class="alerterror" id="alertbox">
    <div class="alertContent">
        <%= message %>
        <i onclick="closeAlert()" class="fa-solid fa-circle-xmark closebtn"></i>
    </div>
</div>
<%}%>
<form action="/register" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" name="name" class="form-control" placeholder="Your Name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Confirm Password</label>
      <input type="password" name="cpassword" class="form-control" placeholder="Confirm Password">
    </div>
    
    <button type="submit" class="btn btn-primary my-3">Submit</button>
  </form>

  <%- include('footer.ejs') -%>